// Use this template if project is multipaged

title = '';
description = '';

doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title= title
    meta(name="description" content=description)
    meta(name="viewport" content="width=375, initial-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    meta(name="HandheldFriendly" content="true")
    link(rel="stylesheet" href="assets/css/vendor.css")
    link(rel="stylesheet" href="assets/css/style.css")
    link(rel='preload' href='assets/fonts/**.ttf' as='font' crossorigin)
    block head
  body.body
    main.main
      block main
    script(src='assets/js/vendor.min.js')
    script(src='assets/js/script.js')
    block scripts
